@font-face {
  font-family: "ztoccfont";
  src: url('iconfont.eot?t=01e85dab9a1c3c06e15383b2a2d8df51'); /* IE9 */
  src: url('iconfont.eot?t=01e85dab9a1c3c06e15383b2a2d8df51#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=01e85dab9a1c3c06e15383b2a2d8df51') format('woff2'),
  url('iconfont.woff?t=01e85dab9a1c3c06e15383b2a2d8df51') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=01e85dab9a1c3c06e15383b2a2d8df51') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=01e85dab9a1c3c06e15383b2a2d8df51#ztoccfont') format('svg'); /* iOS 4.1- */
}

.ztoccfont {
  font-family: "ztoccfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ztocc-switch-fill:before {
  content: "\e011";
}
.ztocc-switch:before {
  content: "\e012";
}
.ztocc-user-fill:before {
  content: "\e013";
}
.ztocc-user:before {
  content: "\e014";
}
.ztocc-down-fill:before {
  content: "\e015";
}
.ztocc-down:before {
  content: "\e016";
}
.ztocc-left-fill:before {
  content: "\e017";
}
.ztocc-left:before {
  content: "\e018";
}
.ztocc-right-fill:before {
  content: "\e019";
}
.ztocc-right:before {
  content: "\e01a";
}
.ztocc-up-fill:before {
  content: "\e01b";
}
.ztocc-up:before {
  content: "\e01c";
}
.ztocc-message-fill:before {
  content: "\e01d";
}
.ztocc-message:before {
  content: "\e01e";
}
.ztocc-bill-fill:before {
  content: "\e01f";
}
.ztocc-bill:before {
  content: "\e020";
}
.ztocc-browse-fill:before {
  content: "\e021";
}
.ztocc-browse:before {
  content: "\e022";
}
.ztocc-calculator-fill:before {
  content: "\e023";
}
.ztocc-calculator:before {
  content: "\e024";
}
.ztocc-date-fill:before {
  content: "\e025";
}
.ztocc-date:before {
  content: "\e026";
}
.ztocc-motorcycles-fill:before {
  content: "\e027";
}
.ztocc-motorcycles:before {
  content: "\e028";
}
.ztocc-list-fill:before {
  content: "\e029";
}
.ztocc-list-line:before {
  content: "\2a";
}
.ztocc-city-fill:before {
  content: "\e02b";
}
.ztocc-city:before {
  content: "\e02c";
}
.ztocc-clock-fill:before {
  content: "\e02d";
}
.ztocc-clock:before {
  content: "\e02e";
}
.ztocc-close-fill:before {
  content: "\e02f";
}
.ztocc-close:before {
  content: "\e030";
}
.ztocc-complaints-fill:before {
  content: "\e031";
}
.ztocc-complaints:before {
  content: "\e032";
}
.ztocc-member-fill:before {
  content: "\e033";
}
.ztocc-member:before {
  content: "\e034";
}
.ztocc-copy-fill:before {
  content: "\e035";
}
.ztocc-copy:before {
  content: "\e036";
}
.ztocc-camera-fill:before {
  content: "\e037";
}
.ztocc-camera:before {
  content: "\e038";
}
.ztocc-delete-fill:before {
  content: "\e039";
}
.ztocc-delete:before {
  content: "\e03a";
}
.ztocc-xiasanjiao-fill:before {
  content: "\e03c";
}
.ztocc-download--fill:before {
  content: "\e03d";
}
.ztocc-download:before {
  content: "\e03e";
}
.ztocc-dirver-fill:before {
  content: "\e03f";
}
.ztocc-driver:before {
  content: "\e040";
}
.ztocc-edit-fill:before {
  content: "\e041";
}
.ztocc-edit:before {
  content: "\e042";
}
.ztocc-exchange-fill:before {
  content: "\e043";
}
.ztocc-exchange:before {
  content: "\e044";
}
.ztocc-fold-down-fill:before {
  content: "\e045";
}
.ztocc-fold-dowm:before {
  content: "\e046";
}
.ztocc-fold-left-fill:before {
  content: "\e047";
}
.ztocc-fold-left:before {
  content: "\e048";
}
.ztocc-fold-right-fill:before {
  content: "\e049";
}
.ztocc-fold-right:before {
  content: "\e04a";
}
.ztocc-fold-up-fill:before {
  content: "\e04b";
}
.ztocc-fold-up:before {
  content: "\e04c";
}
.ztocc-file-fill:before {
  content: "\e04d";
}
.ztocc-file:before {
  content: "\e04e";
}
.ztocc-filter-fill:before {
  content: "\e04f";
}
.ztocc-filter:before {
  content: "\e050";
}
.ztocc-found-fill:before {
  content: "\e051";
}
.ztocc-found:before {
  content: "\e052";
}
.ztocc-max-fill:before {
  content: "\e053";
}
.ztocc-max:before {
  content: "\e054";
}
.ztocc-mini-fill:before {
  content: "\e055";
}
.ztocc-mini:before {
  content: "\e056";
}
.ztocc-nice-fill:before {
  content: "\e057";
}
.ztocc-nice:before {
  content: "\e058";
}
.ztocc-customer-fill:before {
  content: "\e059";
}
.ztocc-customer:before {
  content: "\e05a";
}
.ztocc-help-fill:before {
  content: "\e05b";
}
.ztocc-help:before {
  content: "\e05c";
}
.ztocc-hide-fill:before {
  content: "\e05d";
}
.ztocc-hide:before {
  content: "\e05e";
}
.ztocc-home-fill:before {
  content: "\e05f";
}
.ztocc-home:before {
  content: "\e060";
}
.ztocc-lift-fill:before {
  content: "\e061";
}
.ztocc-lift:before {
  content: "\e062";
}
.ztocc-load-fill:before {
  content: "\e063";
}
.ztocc-load:before {
  content: "\e064";
}
.ztocc-position-fill:before {
  content: "\e065";
}
.ztocc-position:before {
  content: "\e066";
}
.ztocc-menu-fill:before {
  content: "\e067";
}
.ztocc-menu:before {
  content: "\e068";
}
.ztocc-info-fill:before {
  content: "\e069";
}
.ztocc-info:before {
  content: "\e06a";
}
.ztocc-recording-fill:before {
  content: "\e06b";
}
.ztocc-recording:before {
  content: "\e06c";
}
.ztocc-cellphone-fill:before {
  content: "\e06d";
}
.ztocc-cellphone:before {
  content: "\e06e";
}
.ztocc-monitor-fill:before {
  content: "\e06f";
}
.ztocc-monitor:before {
  content: "\e070";
}
.ztocc-more-fill:before {
  content: "\e071";
}
.ztocc-more:before {
  content: "\e072";
}
.ztocc-quiet-fill:before {
  content: "\e073";
}
.ztocc-quiet:before {
  content: "\e074";
}
.ztocc-nav-fill:before {
  content: "\e075";
}
.ztocc-nav:before {
  content: "\e076";
}
.ztocc-notice-fill:before {
  content: "\e077";
}
.ztocc-notice-1:before {
  content: "\e078";
}
.ztocc-license-fill:before {
  content: "\e079";
}
.ztocc-license:before {
  content: "\e07a";
}
.ztocc-sanjiao-sort-fill:before {
  content: "\e07b";
}
.ztocc-parcel-fill:before {
  content: "\e07c";
}
.ztocc-parcel:before {
  content: "\e07d";
}
.ztocc-account-fill:before {
  content: "\e07e";
}
.ztocc-account:before {
  content: "\e07f";
}
.ztocc-phone-fill:before {
  content: "\e080";
}
.ztocc-phone:before {
  content: "\e081";
}
.ztocc-image-fill:before {
  content: "\e082";
}
.ztocc-image:before {
  content: "\e083";
}
.ztocc-play-fill:before {
  content: "\e084";
}
.ztocc-play:before {
  content: "\e085";
}
.ztocc-add-fill:before {
  content: "\e086";
}
.ztocc-add:before {
  content: "\e087";
}
.ztocc-qrcode-fill:before {
  content: "\e088";
}
.ztocc-qr-code:before {
  content: "\e089";
}
.ztocc-hongbao-fill:before {
  content: "\e08a";
}
.ztocc-hongbao:before {
  content: "\e08b";
}
.ztocc-remove-fill:before {
  content: "\e08c";
}
.ztocc-remove:before {
  content: "\e08d";
}
.ztocc-save-fill:before {
  content: "\e08e";
}
.ztocc-save:before {
  content: "\e08f";
}
.ztocc-scan-fill:before {
  content: "\e090";
}
.ztocc-scan:before {
  content: "\e091";
}
.ztocc-paiqi-fill:before {
  content: "\e092";
}
.ztocc-paiqi:before {
  content: "\e093";
}
.ztocc-search-fill:before {
  content: "\e094";
}
.ztocc-search:before {
  content: "\e095";
}
.ztocc-choice-fill:before {
  content: "\e096";
}
.ztocc-choice:before {
  content: "\e097";
}
.ztocc-fly-fill:before {
  content: "\e098";
}
.ztocc-fly:before {
  content: "\e099";
}
.ztocc-set-fill:before {
  content: "\e09a";
}
.ztocc-set:before {
  content: "\e09b";
}
.ztocc-share-fill:before {
  content: "\e09c";
}
.ztocc-share:before {
  content: "\e09d";
}
.ztocc-sort-fill:before {
  content: "\e09e";
}
.ztocc-sort:before {
  content: "\e09f";
}
.ztocc-top1-fill:before {
  content: "\e0a0";
}
.ztocc-star-fill:before {
  content: "\e0a1";
}
.ztocc-star:before {
  content: "\e0a2";
}
.ztocc-time-fill:before {
  content: "\e0a3";
}
.ztocc-time:before {
  content: "\e0a4";
}
.ztocc-tip-fill:before {
  content: "\e0a5";
}
.ztocc-tip:before {
  content: "\e0a6";
}
.ztocc-top3-fill:before {
  content: "\e0a8";
}
.ztocc-cartruck-fill:before {
  content: "\e0a9";
}
.ztocc-cartruck:before {
  content: "\e0aa";
}
.ztocc-unload-fill:before {
  content: "\e0ab";
}
.ztocc-unload:before {
  content: "\e0ac";
}
.ztocc-shangsanjiao-circle-fill:before {
  content: "\e0ad";
}
.ztocc-shangsanjiao-fill:before {
  content: "\e0ae";
}
.ztocc-upload-fill:before {
  content: "\e0af";
}
.ztocc-upload:before {
  content: "\e0b0";
}
.ztocc-louti-fill:before {
  content: "\e0b1";
}
.ztocc-louti:before {
  content: "\e0b2";
}
.ztocc-show-fill:before {
  content: "\e0b3";
}
.ztocc-show:before {
  content: "\e0b4";
}
.ztocc-volume-fill:before {
  content: "\e0b5";
}
.ztocc-volume:before {
  content: "\e0b6";
}
.ztocc-purse-fill:before {
  content: "\e0b7";
}
.ztocc-purse:before {
  content: "\e0b8";
}
.ztocc-warehouse:before {
  content: "\e0b9";
}
.ztocc-warehouse-fill:before {
  content: "\e0ba";
}
.ztocc-warning-fill:before {
  content: "\e0bb";
}
.ztocc-warning:before {
  content: "\e0bc";
}
.ztocc-link:before {
  content: "\e0c5";
}
.ztocc-submenu:before {
  content: "\e0c6";
}
.ztocc-layer:before {
  content: "\e0c7";
}
.ztocc-lock:before {
  content: "\e0c8";
}
.ztocc-org:before {
  content: "\e0c9";
}
.ztocc-add-circle:before {
  content: "\e0ca";
}
.ztocc-remove-circle:before {
  content: "\e0cb";
}
.ztocc-spacing:before {
  content: "\e0cc";
}
.ztocc-fixed-right:before {
  content: "\e0e1";
}
.ztocc-fixed-left:before {
  content: "\e0e2";
}
.ztocc-move-vertically:before {
  content: "\e0e3";
}
.ztocc-move:before {
  content: "\e0e4";
}
.ztocc-one-fill:before {
  content: "\e0ef";
}
.ztocc-two-fill:before {
  content: "\e0f0";
}
.ztocc-three-fill:before {
  content: "\e0f1";
}
.ztocc-four-fill:before {
  content: "\e0f2";
}
.ztocc-five-fill:before {
  content: "\e0f3";
}
.ztocc-six-fill:before {
  content: "\e0f4";
}
.ztocc-seven-fill:before {
  content: "\e0f5";
}
.ztocc-eight-fill:before {
  content: "\e0f6";
}
.ztocc-nine-fill:before {
  content: "\e0f7";
}
.ztocc-ten-fill:before {
  content: "\e0f8";
}
.ztocc-back:before {
  content: "\e0f9";
}
.ztocc-order:before {
  content: "\e0fa";
}
.ztocc-trans-order:before {
  content: "\e0fb";
}
.ztocc-get-fill:before {
  content: "\e0fc";
}
.ztocc-post-fill:before {
  content: "\e0fd";
}
.ztocc-close-circle:before {
  content: "\e0fe";
}
.ztocc-right-circle:before {
  content: "\e0ff";
}
.ztocc-shensu:before {
  content: "\e100";
}
.ztocc-dispose:before {
  content: "\e101";
}
.ztocc-exchange-yundan:before {
  content: "\e102";
}
.ztocc-zhuan:before {
  content: "\e103";
}
.ztocc-get:before {
  content: "\e104";
}
.ztocc-snow:before {
  content: "\e105";
}
.ztocc-temperature:before {
  content: "\e106";
}
.ztocc-map-light:before {
  content: "\e10a";
}
.ztocc-map-dark:before {
  content: "\e10b";
}
.ztocc-bianjie-dark:before {
  content: "\e10c";
}
.ztocc-bianjie-light:before {
  content: "\e10d";
}
.ztocc-ranging:before {
  content: "\e10e";
}
.ztocc-point:before {
  content: "\e10f";
}
.ztocc-chacuo-fill:before {
  content: "\e110";
}
.ztocc-weight-fill:before {
  content: "\e111";
}
.ztocc-gongshan:before {
  content: "\e112";
}
.ztocc-juzheng-fill:before {
  content: "\e113";
}
.ztocc-pai-fill:before {
  content: "\e114";
}
.ztocc-wentijian-fill:before {
  content: "\e115";
}
.ztocc-zhongcai-fill:before {
  content: "\e116";
}
.ztocc-point-fill:before {
  content: "\e118";
}
.ztocc-email:before {
  content: "\e119";
}
.ztocc-email-fill:before {
  content: "\e11a";
}
.ztocc-baoguo-fill:before {
  content: "\e11b";
}
.ztocc-kuaidiyun-fill:before {
  content: "\e11c";
}
.ztocc-zhongzhuan-fill:before {
  content: "\e11d";
}
.ztocc-trackcar-fill:before {
  content: "\e11e";
}
.ztocc-top2-fill:before {
  content: "\e0a7";
}
.ztocc-weight:before {
  content: "\e120";
}
.ztocc-barcode:before {
  content: "\e121";
}
.ztocc-wode-light:before {
  content: "\e123";
}
.ztocc-order-light:before {
  content: "\e124";
}
.ztocc-message-light:before {
  content: "\e127";
}
.ztocc-card:before {
  content: "\e12a";
}
.ztocc-security-circle-fill:before {
  content: "\e12b";
}
.ztocc-security-fill:before {
  content: "\e12c";
}
.ztocc-receipt-fill:before {
  content: "\e12e";
}
.ztocc-device-fill:before {
  content: "\e130";
}
.ztocc-money-fill:before {
  content: "\e131";
}
.ztocc-detail-fill:before {
  content: "\e132";
}
.ztocc-wd-fill:before {
  content: "\e133";
}
.ztocc-device-circle-fill:before {
  content: "\e135";
}
.ztocc-receipt-circle-fill:before {
  content: "\e136";
}
.ztocc-card-fill:before {
  content: "\e137";
}
.ztocc-arrow-down-fill:before {
  content: "\e138";
}
.ztocc-addfriends-fill:before {
  content: "\e139";
}
.ztocc-addfriends:before {
  content: "\e13a";
}
.ztocc-addressbook:before {
  content: "\e13b";
}
.ztocc-alipay:before {
  content: "\e13c";
}
.ztocc-arrowdown:before {
  content: "\e13d";
}
.ztocc-arrowleft:before {
  content: "\e13e";
}
.ztocc-arrowright:before {
  content: "\e13f";
}
.ztocc-at:before {
  content: "\e140";
}
.ztocc-back-1:before {
  content: "\e141";
}
.ztocc-backspace-fill:before {
  content: "\e142";
}
.ztocc-backspace:before {
  content: "\e143";
}
.ztocc-balance:before {
  content: "\e144";
}
.ztocc-bankcard-fill:before {
  content: "\e145";
}
.ztocc-bankcard:before {
  content: "\e146";
}
.ztocc-bankcardpay:before {
  content: "\e147";
}
.ztocc-barchart:before {
  content: "\e148";
}
.ztocc-browser:before {
  content: "\e149";
}
.ztocc-calendar:before {
  content: "\e14a";
}
.ztocc-camera-fill-1:before {
  content: "\e14b";
}
.ztocc-camera-1:before {
  content: "\e14c";
}
.ztocc-captcha-fill:before {
  content: "\e14d";
}
.ztocc-captcha:before {
  content: "\e14e";
}
.ztocc-cart-fill:before {
  content: "\e14f";
}
.ztocc-cart:before {
  content: "\e150";
}
.ztocc-check:before {
  content: "\e151";
}
.ztocc-checkbox-fill:before {
  content: "\e152";
}
.ztocc-checkbox:before {
  content: "\e153";
}
.ztocc-checkround:before {
  content: "\e154";
}
.ztocc-classify-fill:before {
  content: "\e155";
}
.ztocc-classify:before {
  content: "\e156";
}
.ztocc-clear-fill:before {
  content: "\e157";
}
.ztocc-clear:before {
  content: "\e158";
}
.ztocc-close-1:before {
  content: "\e159";
}
.ztocc-comment-fill:before {
  content: "\e15a";
}
.ztocc-comment:before {
  content: "\e15b";
}
.ztocc-community-fill:before {
  content: "\e15c";
}
.ztocc-community:before {
  content: "\e15d";
}
.ztocc-coupon-fill:before {
  content: "\e15e";
}
.ztocc-coupon:before {
  content: "\e15f";
}
.ztocc-delete-fill-1:before {
  content: "\e160";
}
.ztocc-delete-1:before {
  content: "\e161";
}
.ztocc-dropdown:before {
  content: "\e162";
}
.ztocc-edit-fill-1:before {
  content: "\e163";
}
.ztocc-edit-1:before {
  content: "\e164";
}
.ztocc-fabulous-fill:before {
  content: "\e165";
}
.ztocc-fabulous:before {
  content: "\e166";
}
.ztocc-face:before {
  content: "\e167";
}
.ztocc-find-fill:before {
  content: "\e168";
}
.ztocc-find:before {
  content: "\e169";
}
.ztocc-help-fill-1:before {
  content: "\e16a";
}
.ztocc-help-1:before {
  content: "\e16b";
}
.ztocc-home-fill-1:before {
  content: "\e16c";
}
.ztocc-home-1:before {
  content: "\e16d";
}
.ztocc-idcard-fill:before {
  content: "\e16e";
}
.ztocc-idcard:before {
  content: "\e16f";
}
.ztocc-info-fill-1:before {
  content: "\e170";
}
.ztocc-info-1:before {
  content: "\e171";
}
.ztocc-invisible:before {
  content: "\e172";
}
.ztocc-invite-fill:before {
  content: "\e173";
}
.ztocc-invite:before {
  content: "\e174";
}
.ztocc-kefu-fill:before {
  content: "\e175";
}
.ztocc-kefu:before {
  content: "\e176";
}
.ztocc-keyboard:before {
  content: "\e177";
}
.ztocc-left-1:before {
  content: "\e178";
}
.ztocc-like-fill:before {
  content: "\e179";
}
.ztocc-like:before {
  content: "\e17a";
}
.ztocc-linechart:before {
  content: "\e17b";
}
.ztocc-list:before {
  content: "\e17c";
}
.ztocc-loading:before {
  content: "\e17d";
}
.ztocc-location-fill:before {
  content: "\e17e";
}
.ztocc-location:before {
  content: "\e17f";
}
.ztocc-lock-mobile-fill:before {
  content: "\e180";
}
.ztocc-lock-mobile:before {
  content: "\e181";
}
.ztocc-mail-fill:before {
  content: "\e182";
}
.ztocc-mail:before {
  content: "\e183";
}
.ztocc-menu-1:before {
  content: "\e184";
}
.ztocc-message-mobile-fill:before {
  content: "\e185";
}
.ztocc-message-mobile:before {
  content: "\e186";
}
.ztocc-minus:before {
  content: "\e187";
}
.ztocc-minussign-fill:before {
  content: "\e188";
}
.ztocc-minussign:before {
  content: "\e189";
}
.ztocc-mobile-fill:before {
  content: "\e18a";
}
.ztocc-mobile:before {
  content: "\e18b";
}
.ztocc-moments:before {
  content: "\e18c";
}
.ztocc-more-mobile-fill:before {
  content: "\e18d";
}
.ztocc-more-mobile:before {
  content: "\e18e";
}
.ztocc-my-fill:before {
  content: "\e18f";
}
.ztocc-my:before {
  content: "\e190";
}
.ztocc-nonetwork:before {
  content: "\e191";
}
.ztocc-notice-fill-1:before {
  content: "\e192";
}
.ztocc-notice:before {
  content: "\e193";
}
.ztocc-operate:before {
  content: "\e194";
}
.ztocc-order-fill:before {
  content: "\e195";
}
.ztocc-order-mobile:before {
  content: "\e196";
}
.ztocc-partake:before {
  content: "\e197";
}
.ztocc-picture-fill:before {
  content: "\e198";
}
.ztocc-picture:before {
  content: "\e199";
}
.ztocc-piechart:before {
  content: "\e19a";
}
.ztocc-play-mobile:before {
  content: "\e19b";
}
.ztocc-plus:before {
  content: "\e19c";
}
.ztocc-plussign-fill:before {
  content: "\e19d";
}
.ztocc-plussign:before {
  content: "\e19e";
}
.ztocc-principal:before {
  content: "\e19f";
}
.ztocc-pulldown-fill:before {
  content: "\e1a0";
}
.ztocc-pulldown:before {
  content: "\e1a1";
}
.ztocc-pullup-fill:before {
  content: "\e1a2";
}
.ztocc-pullup:before {
  content: "\e1a3";
}
.ztocc-qa:before {
  content: "\e1a4";
}
.ztocc-qq:before {
  content: "\e1a5";
}
.ztocc-qrcode:before {
  content: "\e1a6";
}
.ztocc-redpacket:before {
  content: "\e1a7";
}
.ztocc-refresh:before {
  content: "\e1a8";
}
.ztocc-right-1:before {
  content: "\e1a9";
}
.ztocc-rotate:before {
  content: "\e1aa";
}
.ztocc-roundright-fill:before {
  content: "\e1ab";
}
.ztocc-roundright:before {
  content: "\e1ac";
}
.ztocc-scan-1:before {
  content: "\e1ad";
}
.ztocc-screen:before {
  content: "\e1ae";
}
.ztocc-search-1:before {
  content: "\e1af";
}
.ztocc-setup-fill:before {
  content: "\e1b0";
}
.ztocc-setup:before {
  content: "\e1b1";
}
.ztocc-share-fill-1:before {
  content: "\e1b2";
}
.ztocc-share-1:before {
  content: "\e1b3";
}
.ztocc-shop-fill:before {
  content: "\e1b4";
}
.ztocc-shop:before {
  content: "\e1b5";
}
.ztocc-signin:before {
  content: "\e1b6";
}
.ztocc-sina:before {
  content: "\e1b7";
}
.ztocc-slide:before {
  content: "\e1b8";
}
.ztocc-star-fill-1:before {
  content: "\e1b9";
}
.ztocc-star-1:before {
  content: "\e1ba";
}
.ztocc-starhalf:before {
  content: "\e1bb";
}
.ztocc-stepon-fill:before {
  content: "\e1bc";
}
.ztocc-stepon:before {
  content: "\e1bd";
}
.ztocc-suspend:before {
  content: "\e1be";
}
.ztocc-telephone:before {
  content: "\e1bf";
}
.ztocc-top:before {
  content: "\e1c0";
}
.ztocc-turningdown:before {
  content: "\e1c1";
}
.ztocc-turningleft:before {
  content: "\e1c2";
}
.ztocc-turningright:before {
  content: "\e1c3";
}
.ztocc-turningup:before {
  content: "\e1c4";
}
.ztocc-up-1:before {
  content: "\e1c5";
}
.ztocc-video:before {
  content: "\e1c6";
}
.ztocc-visible:before {
  content: "\e1c7";
}
.ztocc-voice:before {
  content: "\e1c8";
}
.ztocc-wait-fill:before {
  content: "\e1c9";
}
.ztocc-wait:before {
  content: "\e1ca";
}
.ztocc-wallet:before {
  content: "\e1cb";
}
.ztocc-warning-fill-1:before {
  content: "\e1cc";
}
.ztocc-warning-1:before {
  content: "\e1cd";
}
.ztocc-link-1:before {
  content: "\e1ce";
}
.ztocc-wechat:before {
  content: "\e1cf";
}
.ztocc-wxpay:before {
  content: "\e1d0";
}
.ztocc-recharge-fill:before {
  content: "\e1d1";
}
.ztocc-servicefee-fill:before {
  content: "\e1d2";
}
.ztocc-twelve-fill:before {
  content: "\e1d3";
}
.ztocc-eleven-fill:before {
  content: "\e1d4";
}
.ztocc-premium-fill:before {
  content: "\e1d5";
}
.ztocc-eighteen-fill:before {
  content: "\e1d6";
}
.ztocc-fourteen-fill:before {
  content: "\e1d7";
}
.ztocc-thirteen-fill:before {
  content: "\e1d8";
}
.ztocc-seventeen-fill:before {
  content: "\e1d9";
}
.ztocc-fifteen-fill:before {
  content: "\e1da";
}
.ztocc-nineteen-fill:before {
  content: "\e1db";
}
.ztocc-sixteen-fill:before {
  content: "\e1dc";
}
.ztocc-twenty-fill:before {
  content: "\e1dd";
}
.ztocc-exit:before {
  content: "\e1de";
}
.ztocc-exit-fill:before {
  content: "\e1df";
}
.ztocc-eraser-fill:before {
  content: "\e1e0";
}
.ztocc-Barcodescanner:before {
  content: "\e1e4";
}
.ztocc-eraser:before {
  content: "\e1e5";
}
.ztocc-switch-1:before {
  content: "\e1e6";
}
